body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#main {
    background-color: rgba(255, 255, 255, 0.925);
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 2px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: black;
}

#navbar a {
    color: whitesmoke;
    text-decoration: none;
}

#tituloDestaque {
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
}

#imagemGeral > img {
    width: 100%;
    height: 50%;
}

#produtos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

#produtos .produtoDestaque {
    text-align: center;   
}

#rodape {
    background-color: yellow;
    display: flex;
    height: 150px;
    justify-content: space-between;
}
